.fr-about{
  &__hero{
    margin-top: -3vw !important;
    width: 100%;
    background-image: url('../../../public/img/fr-about__hero.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }

  &__text{
    margin-top: 60px;
    p{
      margin-bottom: 15px;
      text-align: center;
    }
  }
}