.fr-about {
  &__hero {
    margin-top: -3vw !important;
    width: 100%;
    background-image: url('../../../public/img/fr-about__hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__text {
    margin-top: 60px;

    p {
      margin-bottom: 15px;
      text-align: center;
    }

    .col{
      margin-right: 40px;
      margin-top: 40px;
    }

    &__foods{
      display: flex;
      flex-direction:column;
      max-width: 100%;
      gap: 10px;
      img {
        width: 95%;
        border-radius: 6px;
      }
      @media(max-width: 768px){
        display: flex;
        flex-direction: row;
      }
    }

    @media(max-width: 768px){
      display: flex;
      flex-direction: column;
      .col-25, .col{
        width: 100%;
        margin-right: 0;
      }
    }
  }
}