.fr-footer{
  background-color: $fr-text;
  color: $fr-bg;
  padding: 20px 0;
  .section{
    margin-bottom: 0;
  }
  h3{
    margin-bottom: 20px;
  }
  p{
    font-size: 16px;
  }

  &__find{
    &__logo{
      font-size: 3rem;
      font-weight: 600;
      color: $fr-pink;
      span{
        color: $fr-bg;
      }
    }
  }
  &__contact{
    text-align: center;
    padding: 0 20px;
  }
  &__socials{
    text-align: center;
    div{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;

      a{
        svg{
          width: 50px;
          height: 50px;
          color: $fr-pink;
        }
        
        &:hover{
          svg{
            color: $fr-pink-dk;
          }
        }
      }
    }
  }
  @media(max-width: 768px){
    .section{
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      .col{
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  @media(max-width: 468px){
    .section{
      .col{
        margin-bottom: 40px;
        h3{
          margin-bottom: 10px;
          .fr-footer__find__logo{
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}