.fr-navbar{
  padding: 20px 10%;
  box-shadow: 0 3px 6px $fr-shadow;
  background-color: $fr-bg;
  color: $fr-text;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 992px){
    padding: 20px 20px;
    // flex-direction: column;
  }
  @media (max-width: 568px){
    flex-direction: column;
  }
  
  &__logo{
    font-size: 40px;
    font-weight: 600;
    color: $fr-pink;
    span{
      color: $fr-text;
    }
  }

  &__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;

    a{
      text-transform: uppercase;
      &:hover{
        color: $fr-pink;
        -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
        transition: color .5s; /* For modern browsers */
      }
      &.active{
        color: $fr-pink;
        &:hover{
          color: $fr-text;
        }
      }
    }
  }
}