@function getAnimationDuration($duration: number) {
  @return calc($duration * $fr-animation-speed)
}

.fr-navbar{
  padding: 20px 10%;
  box-shadow: 0 3px 6px $fr-shadow;
  background-color: $fr-bg;
  color: $fr-text;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 992px){
    padding: 20px 20px;
  }
  
  &__logo{
    font-size: 40px;
    font-weight: 600;
    color: $fr-pink;
    span{
      color: $fr-text;
    }
  }

  &__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;

    a{
      text-transform: uppercase;
      &:hover{
        color: $fr-pink;
        -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
        transition: color .5s; /* For modern browsers */
      }
      &.active{
        color: $fr-pink;
        &:hover{
          color: $fr-text;
        }
      }
    }

    @media(max-width: 768px){
      display: none;
    }
  }

  &__sidebar-btn{
    height: 28px;
    width: 30px;
    position: relative;
    display: none;
    &__bar{
      height: 6px;
      width: 100%;
      background-color: $fr-text;
      position: absolute;
      transition: transform getAnimationDuration(.5s);
      border-radius: 4px;
      &:nth-child(1){
        top: 0;
      }
      &:nth-child(2){
        top: 50%;
        transform-origin: right;
        transform: scaleX(.8) translateY(-50%);
      }
      &:nth-child(3){
        top: 100%;
        transform-origin: right;
        transform: scaleX(1.1) translateY(-100%);
      }
    }

    @media(max-width: 768px){
      display: flex;
    }
  }
}
.active{
  .fr-navbar__sidebar-btn__bar{
    transform-origin: center;
    top: 50%;
    &:nth-child(1){
      transform: translate(0, -50%) scale(1) rotate(45deg);
    }
    &:nth-child(2){
      transform: scaleX(0) translateY(-50%);
    }
    &:nth-child(3){
      transform: translate(0, -50%) scale(1) rotate(-45deg) ;
    }
  }
}