.fr-navbar{
  padding: 20px 10%;
  box-shadow: 0 3px 6px $fr-shadow;
  background-color: $fr-bg;
  color: $fr-text;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo{
    font-size: 40px;
    span{
      color: $fr-pink;
    }
  }

  &__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

    a{
      &:hover{
        color: $fr-pink;
        -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
        transition: color .5s; /* For modern browsers */
      }
    }
  }
}