.fr-recipes{
  &__previous-searches{
    flex-direction: column;
    &__container{
      margin: 10px 0 40px;
      &__item{
        display: inline-block;
        width: fit-content;
        background-color: $fr-pink;
        color: $fr-bg;
        padding: 10px 20px;
        border-radius: 30px;
        margin: 0 10px 10px 0;
        box-shadow: 0 3px 6px $fr-shadow;
      }
    }
  }
}