body{
  background-color: $fr-bg;
}

.fr-main{
  padding-block: 3vw;
}

.section{
  display: flex;
  flex-direction: row;
  .col{
    width: 50%;
  }
  @media (max-width: 468px){
    .col{
      width: 100%;
    }
  }
}

.fr-btn{
  padding: 10px 20px;
  border-radius: 8px;
  &.pink{
    background: $fr-pink;
    color: $fr-bg;
    &:hover{
      background: $fr-pink-dk;
    }
  }
}