body{
  background-color: $fr-bg;
}

.fr-main{
  padding-block: 3vw;

  img{
    object-fit: cover;
  }
}

.section{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 80px;
  .col{
    width: 50%;
  }
  @media (max-width: 1060px){
    max-width: 90%;
  }
  @media (max-width: 768px){
    max-width: 95%;
  }
  @media (max-width: 468px){
    flex-direction: column;
    .col{
      width: 100%;
    }
  }
}

.fr-btn{
  padding: 10px 20px;
  border-radius: 8px;
  &.pink{
    background: $fr-pink;
    color: $fr-bg;
    &:hover{
      background: $fr-pink-dk;
    }
  }
}

.fr-list{
  &__pink{
    list-style: none;
    margin-bottom: 20px;
    margin-left: 15px;
    li{
      &::before{
        content: "|";  
        font-weight: bold; 
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
        color: $fr-pink;
      }
    }
    
  }
}

.fr-hero-section__title{
  width:fit-content;
  max-width: 1200px;
  margin: auto;
  padding: 580px 0 20px;
  h1{
    padding: 10px 80px;
    background-color: $fr-bg;
    text-align: center;
  }

  @media (max-width: 1060px){
    padding: 380px 0 20px;
  }
  @media (max-width: 768px){
    padding: 280px 0 20px;
  }
  @media (max-width: 468px){
    padding: 250px 0 20px;
    h1{
      padding: 10px 40px;
    }
  }
}