.fr-text{
  &__pink{
    color: $fr-pink;
  }
  &__blue{
    color: $fr-blue;
  }
  &__yellow{
    color: $fr-yellow;
  }
  &__green{
    color: $fr-green;
  }
}
.fr-bg{
  &__pink{
    background-color: $fr-pink;
  }
  &__blue{
    background-color: $fr-blue;
  }
  &__yellow{
    background-color: $fr-yellow;
  }
  &__green{
    background-color: $fr-green;
  }
}