$fr-light: #cacaca;
$fr-light-lg: #ffffff;
$fr-dark: #2e2e2e;
$fr-dark-lg: #494949;
$fr-shadow: rgba(0, 0, 0, .2);
$fr-pink: #ff0056;
$fr-pink-dk: #b6023e;
$fr-blue: #0077ff;
$fr-blue-dk: #054792;
$fr-yellow: #ff9900;
$fr-yellow-dk: #b87004;
$fr-green: #00772e;
$fr-green-dk: #024b1e;
$fr-purple: #6f33bd;
$fr-purple-dk: #411a74;
$fr-red: #d40000;
$fr-red-dk: #860000;
$fr-orange: #d46600;
$fr-orange-dk: #9c4c01;
$fr-text: #0A0A0A;
$fr-text-lg: #575757;
$fr-animation-speed: 1;
$fr-primary: $fr-pink; 
$fr-primary-dk: $fr-pink-dk; 
$fr-bg: $fr-light;
$fr-bg-lg: $fr-light-lg;